{% extends 'base.html.twig' %}

{% block title %}Sources{% endblock %}

{% block body %}
    <h1 class="text-2xl font-bold">Bienvenue sur la page des sources</h1>
    <p>Contenu de la page des sources...</p>
{% endblock %}
