{% extends 'base.html.twig' %}

{% block title %}Articles{% endblock %}

{% block body %}
<h1 class="text-2xl font-bold">Bienvenue sur la page des articles</h1>
<p>Contenu de la page des articles...</p>
{% endblock %}
