<button data-action="modal#show">New</button>

<dialog data-controller="modal" data-modal-target="dialog">
    <h2>{{modalTitle}}</h2>
    <p>{{modalBody}}</p>
    <button data-action="modal#close">Fermer</button>
</dialog>
